<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eloquentequipos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.eloquentequipos.Conexion"
            android:parentActivityName="com.example.eloquentequipos.MainActivity"/>
        <activity android:name="com.example.eloquentequipos.EditarEquipo"
            android:parentActivityName="com.example.eloquentequipos.MainActivity"/>
        <activity android:name="com.example.eloquentequipos.EditarJugador"
            android:parentActivityName="com.example.eloquentequipos.MainActivity"/>
        <activity
            android:name="com.example.eloquentequipos.AddEquipo"
            android:parentActivityName="com.example.eloquentequipos.MainActivity" />
        <activity
            android:name="com.example.eloquentequipos.Plantilla"
            android:parentActivityName="com.example.eloquentequipos.MainActivity" />
        <activity
            android:name="com.example.eloquentequipos.AddJugador"
            android:parentActivityName="com.example.eloquentequipos.MainActivity" />
        <activity
            android:name="com.example.eloquentequipos.VerJugador"
            android:parentActivityName="com.example.eloquentequipos.MainActivity" />
        <activity
            android:name="com.example.eloquentequipos.VerEquipo"
            android:parentActivityName="com.example.eloquentequipos.MainActivity" />
        <activity
            android:name="com.example.eloquentequipos.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>